<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - TiendaPelotas</title>
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="../css/navigation.css"> <!--Para el estilo de navegación ;) -->

</head>
<body>
    <header>
        <img src="../images/Pelotas_Layout.png" alt="Layout de Pelotas">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto2.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>

        
    <main>
        <h1>Contacto</h1>
        <section id="informacion">
            <h2>Información de Contacto</h2>
            <p>Dirección: Calle Zigüeña, Villalpuerro, Antigua y Barbuda</p>
            <p>Teléfono: +123456789</p>
            <p>Correo Electrónico: Pelotas@mispelotas.com</p>
        </section>

        <section id="mapa">
            <h2>Ubicación</h2>
            <div id="google-map"></div>
        </section>
    </main>

    <footer>
        <div>
            <a href="https://facebook.com"><img class="red-social" src="../images/facebook_logo.png" alt="Facebook" width="2048" height="2048"></a>
            <a href="https://twitter.com"><img class="red-social" src="../images/x_logo.avif" alt="Twitter" width="570" height="570"></a>
            <a href="https://www.oligofrenia.com/"><img class="red-social" src="../images/tiktok_logo.png" alt="Tiktok" width="512" height="512"></a>
        </div>
        <div>
            <p>Calle Zigüeña 78, Villalpuerro</p>
            <p>Aviso Legal</p>
        </div>
        <div>
        </div>
    </footer>

    <script src="../js/contacto.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI3PbBNvFXSaufr0uCMHuREKQkRyyka2A&callback=initMap"></script>

</body>
</html>
