<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../css/galeria2.css">
    <link rel="stylesheet" href="../css/navigation.css">

</head>
<body>
    <header>
        <img src="../images/Pelotas_Layout.png" alt="Layout de Pelotas">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html" class="active">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <h1>Galería de Imágenes</h1>
    <main>
    <section id="gallery">
        <div class="gallery-container">
            <figure class="gallery-item">
                <img src="../images/8410128010095-Pelota_Golf.png" alt="Pelota de golfos">
                <figcaption>Exquisita pelota de Golf</figcaption>
            </figure>
            <figure class="gallery-item">
                <img src="../images/8410128010098-Pelota_Amarilla.png" alt="Pelota amarilla">
                <figcaption>Flamante pelota amarilla</figcaption>
            </figure>
            <figure class="gallery-item">
                <img src="../images/8410128010099-Pelota_Morada.png" alt="Pelota morada">
                <figcaption>Severa pelota mirada</figcaption>
            </figure>
            <figure class="gallery-item">
                <img src="../images/Pelota_Azul.png" alt="La azul pelota">
                <figcaption>Pelota azul en el planeta azul</figcaption>
            </figure>
            <!-- ... otras imágenes ... -->

        </div>
            <nav class="gallery-navigation">
                <button class="nav-button prev-button">Anterior</button>
                <button class="nav-button next-button">Siguiente</button>
            </nav>
    </section>

</main>
    
    <footer>
        <div class="red-social">
            <a href="https://facebook.com"><img class="red-social" src="../images/facebook_logo.png" alt="Facebook" width="2048" height="2048"></a>
            <a href="https://twitter.com"><img class="red-social" src="../images/x_logo.avif" alt="Twitter" width="570" height="570"></a>
            <a href="https://www.oligofrenia.com/"><img class="red-social" src="../images/tiktok_logo.png" alt="Tiktok" width="512" height="512"></a>
        </div>
        <div>
            <p>Calle Zigüeña 78, Villalpuerro</p>
            <p>Aviso Legal</p>
        </div>
        <div>
        </div>
    </footer>

    <!--<script src="../css/navigation.css"></script>-->
    <script src="../js/galeria.js"></script>
</body>
</html>
